<ul ngClass="component">
    <li>datosPersonales:{{ '{' }}</li>
    <ul>
        <li><span ngClass="property">"Name"</span> : <span ngClass="value">"{{name}}"</span>,</li>
        <li><span ngClass="property">"LastName"</span> : <span ngClass="value">"{{lastName}}"</span>,</li>
        <li><span ngClass="property">"Address"</span> : <span ngClass="value">"{{address}}"</span>,</li>
        <li><span ngClass="property">"PostalCode"</span> : <span ngClass="value">"{{postalCode}}"</span>,</li>
        <li><span ngClass="property">"City"</span> : <span ngClass="value">"{{city}}"</span>,</li>
        <li><span ngClass="property">"State"</span> : <span ngClass="value">"{{state}}</span>"</li>
    </ul>
    <li>{{ '}' }}</li>

</ul>